kind: ConfigMap
apiVersion: v1
metadata:
  name: sas-iac-buildinfo
  namespace: kube-system
data:
  git-hash: |-
    ${git-hash}
  timestamp: |-
    ${timestamp}
  iac-tooling: |-
    ${iac-tooling}
  iac-tooling-ver: |-
    ${iac-tooling-ver}
