apiVersion: v1
kind: Config
clusters:
  - name: ${cluster_name}
    cluster:
      server: '${endpoint}'
      certificate-authority-data: >-
        ${ca_crt}
users:
  - name: ${name}
    user:
      token: >-
        ${token}
contexts:
  - name: ${cluster_name}    
    context:
      user: ${name}
      cluster: ${cluster_name}
      namespace: ${namespace}
current-context: ${cluster_name}
